<div class="container d-flex p-3">
  <div class="card m-2" style="background-color: #76cc89">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.stockAssets
      }}</span
      >Materiel en stock
    </div>
  </div>
  <div class="card m-2" style="background-color: #cc7676">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.inUseAssets
      }}</span>
      Materiel en utilisation
    </div>
  </div>
  <div class="card m-2" style="background-color: #86cc76">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.brokenAssets
      }}</span>
      Materiels en panne
    </div>
  </div>
  <div class="card m-2" style="background-color: #cc7684">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.declassedAssets
      }}</span>
      Materiels déclassé
    </div>
  </div> 
  <div class="card m-2 bg-success">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.employes
      }}</span>
      Employes 
    </div>
  </div>
  <!-- <div class="card m-2 bg-danger">
    <div
      class="card-body d-flex"
      style="justify-content: center; align-items: center; color: white"
    >
      <span style="font-size: xx-large; font-weight: 700; margin-right: 10px">{{
        counts?.archivedEmployes
      }}</span>
      Employes archivé
    </div>
  </div> -->
</div>



<div class="container d-flex"  *ngIf="showCharts" style="justify-content: space-around">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <strong>Materiel par localisation</strong>
    <canvas
      baseChart
      [type]="'pie'"
      [datasets]="localisationpieChartDatasets"
      [labels]="localisationpieChartLabels"
      [options]="pieChartOptions"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <strong>Materiel par region</strong>
    <canvas
      baseChart
      [type]="'pie'"
      [datasets]="assetpieChartDatasets"
      [labels]="assetpieChartLabels"
      [options]="pieChartOptions"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <strong>Materiel par type</strong>
    <canvas
      baseChart
      [type]="'pie'"
      [datasets]="typenpieChartDatasets"
      [labels]="typenpieChartLabels"
      [options]="pieChartOptions"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>
<div class="container d-flex" style="justify-content: space-around"></div>
<div class="container d-flex" style="justify-content: space-around"></div>

<div
  *ngIf="showCharts"
  class="container"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <strong>Employés par region</strong>
  <canvas
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType"
  >
  </canvas>
</div>

<div class="container d-flex" style="justify-content: space-around">
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartDatasets"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [legend]="pieChartLegend"
  >
  </canvas>

  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartDatasets"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [legend]="pieChartLegend"
  >
  </canvas>

  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartDatasets"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [legend]="pieChartLegend"
  >
  </canvas>
</div>
