<div class="m-5">
  <div class="d-flex m-3">
    <input
      class="form-control m-2"
      [(ngModel)]="filters.cin"
      (ngModelChange)="getEmployes()"
      type="text"
      placeholder="CIN"
      aria-label="default input example"
    />
    <input
      class="form-control m-2"
      [(ngModel)]="filters.nom"
      (ngModelChange)="getEmployes()"
      type="text"
      placeholder="Nom"
      aria-label="default input example"
    />

    <select
      class="form-select m-2"
      [(ngModel)]="filters.structure"
      (ngModelChange)="getEmployes()"
      aria-label="Default select example"
    >
      <option selected value="">Tous les structures</option>
      <option *ngFor="let structure of _general.structures" [value]="structure">
        {{ structure }}
      </option>
    </select>
    <input
      class="form-control m-2"
      type="text"
      [(ngModel)]="filters.etage"
      (ngModelChange)="getEmployes()"
      placeholder="Etage"
      aria-label="default input example"
    />

    <select
      class="form-select m-2"
      [(ngModel)]="filters.region"
      (ngModelChange)="getEmployes()"
      aria-label="Default select example"
    >
      <option selected value="">Tous les regions</option>
      <option
        *ngFor="let location of _general.locations"
        [value]="location.name"
      >
        {{ location.name }}
      </option>
    </select>
    <select
      class="form-select m-2"
      [(ngModel)]="filters.localisation"
      (ngModelChange)="getEmployes()"
      aria-label="Default select example"
    >
      <option selected value="">Tous les localisations</option>
      <option
        *ngFor="let localisation of _general.localisations"
        [value]="localisation"
      >
        {{ localisation }}
      </option>
    </select>
  </div>

    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="count"
      [(page)]="filters.page"
      [maxSize]="5"
      [pageSize]="filters.size"
      [boundaryLinks]="true"
      (pageChange)="getEmployes()"
    ></ngb-pagination>
    <table
      class="table table-striped"
      style="border: 1px solid grey; border-radius: 50px"
    >
      <thead>
        <tr>
          <th scope="col">CIN</th>
          <th scope="col">Nom</th>
          <th scope="col">Structure</th>
          <th scope="col">Etage</th>
          <th scope="col">Num Bureau</th>
          <th scope="col">Poste</th>
          <th scope="col">Région</th>
          <th scope="col">Localisation</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employe of employes">
          <td>{{ employe.cin }}</td>
          <td>{{ employe.nom }}</td>
          <td>{{ employe.structure }}</td>
          <td>{{ employe.etage }}</td>
          <td>{{ employe.bureau }}</td>
          <td>{{ employe.poste }}</td>
          <td>{{ employe.region }}</td>
          <td>{{ employe.localisation }}</td>
          <td>
       <button class="btn btn-success" (click)="activate(employe.id)">Activer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  