<nav
  class="navbar navbar-expand-lg bg-body-tertiary w-100"
  style="height: 70px; z-index: 9; position: fixed;background-color: #1976d2 !important ;color:white !important;"
>
  <div class="container-fluid">
    <a class="navbar-brand m-3 pointer"             style="font-weight: 700 ; color: white;"
    (click)="openSidebar()"
      ><i class="fa-solid fa-bars"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="font-weight: 700 ; color: white;"
            >ADMIN</a
          >
        </li>
      </ul>
      <form
        class="d-flex"
        role="search"
        style="display: flex; align-items: center"
      >
        <a
          class="nav-link active"
          aria-current="page"
          style="font-weight: 700; margin-right: 10px"
          >Ichrak</a
        >
          <img
          *ngIf="role == 1 "
            src="https://t4.ftcdn.net/jpg/00/65/10/47/360_F_65104718_x17a76wzWKIm3BlhA6uyYVkDs9982c6q.jpg"
            class="img-thumbnail"
            style="
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 100%;
            "
          />
   
          <img
          *ngIf="role == 2 "
            src="https://t4.ftcdn.net/jpg/02/27/45/09/360_F_227450952_KQCMShHPOPebUXklULsKsROk5AvN6H1H.jpg"
            class="img-thumbnail"
            style="
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 100%;
            "
          />
      </form>
    </div>
  </div>
</nav>
