<div
  class="d-flex justify-content-around align-items-center h-100"
  style="padding: 200px"
>
  <div class="card pointer" style="width: 250px" routerLink="/gestion-utilisateurs">
    <img src="../../../assets/users.png" class="card-img-top" style="object-fit: cover; height: 200px;" alt="..." />
    <div class="card-body" style="text-align: center;">
      <p class="card-text">Management des utilisateurs</p>
    </div>
  </div>
  <div class="card pointer" style="width: 250px" routerLink="/gestion-utilisateurs">
    <img src="../../../assets/stuff.jpg" class="card-img-top" style="object-fit: cover; height: 200px;" alt="..." />
    <div class="card-body" style="text-align: center;">
      <p class="card-text">Management des materiels</p>
    </div>
  </div>
</div>
