<div
  class="sidebar"
  [class.open]="isOpened"
  (mouseenter)="isOpened = true"
  (mouseleave)="isOpened = false"
>
  <!-- <div class="d-flex justify-content-end p-3">
    <i class="fa-regular fa-circle-xmark fa-2xl pointer" (click)="closeSidebar()"></i>
  </div> -->
  <div class="d-flex flex-column h-100 justify-content-center">
    <a
      class="d-flex justify-content-center align-items-center my-2 w-100 side-item"
      [routerLink]="['/acceuil']"
      routerLinkActive="router-link-active"
      (click)="closeSidebar()"
      ><i class="fa-solid fa-chart-simple mx-2 fa-xl"></i> 
      <span class="text-visible" [class.hidden]="!isOpened">Acceuil</span></a
    >
    <a
      class="d-flex justify-content-center align-items-center my-2 w-100 side-item"
      [routerLink]="['/consultation']"
      routerLinkActive="router-link-active"
      (click)="closeSidebar()"
      >
      <i class="fa-regular fa-chart-bar mx-2 fa-xl"></i>
      <span class="text-visible" [class.hidden]="!isOpened">Consultation</span></a
    >
    <a
      class="d-flex justify-content-center align-items-center my-2 w-100 side-item"
      [routerLink]="['/archive']"
      routerLinkActive="router-link-active"
      (click)="closeSidebar()"
      >
      <i class="fa-solid fa-magnifying-glass mx-2 fa-xl"></i>
      <span class="text-visible" [class.hidden]="!isOpened">Archive</span></a
    >
    <a
      class="d-flex justify-content-center align-items-center my-2 w-100 side-item"
      [routerLink]="['/administration']"
      routerLinkActive="router-link-active"
      (click)="closeSidebar()"
      ><i class="fa-solid fa-users-gear mx-2 fa-xl"></i><span class="text-visible" [class.hidden]="!isOpened">Administration</span></a
    >
  </div>
</div>
