/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import 'ngx-toastr/toastr';
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";


* {
  font-family: "Alata", sans-serif;
}
.pointer {
  cursor: pointer;
}


.accordion-button:focus {
  z-index: 3;
  border-color: unset !important;
  outline: 0;
  box-shadow: unset !important;
}